/* app.component.css */

.header {
  text-align: center;
  font-weight: bold;
  background-color: #ddd; /* Grey background */
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: row;
}

.links {
  flex: 30%;
  padding: 10px;
}

.main-content {
  flex: 40%;
  padding: 10px;
}

.advertisement {
  flex: 30%;
  padding: 10px;
}

.footer {
  text-align: center;
  background-color: #ddd; /* Grey background */
  padding: 10px;
}
