<div class="header">Fraud Detector</div>

<div class="content">
  <div class="links">
    <a routerLinkActive="Active" [routerLink]="['/TypeScriptDemo']">Type Script Demo</a><br>
    <a routerLinkActive="Active" [routerLink]="['/PipesDemo']">Pipes Demo</a><br>
    <a routerLinkActive="Active" [routerLink]="['/CustomPipesDemo']">Custom Pipes Demo</a><br>
    <a routerLinkActive="Active" [routerLink]="['/OneWayBinding']">One Way Binding Demo</a><br>
    <a routerLinkActive="Active" [routerLink]="['/TwoWayBinding']">Two Way Binding Demo</a><br>
    <a routerLinkActive="Active" [routerLink]="['/EventBinding']">Event Binding Demo</a><br>
    <a routerLinkActive="Active" [routerLink]="['/TemplateDrivenForm']">Template Driven Form Demo</a><br>
    <a routerLinkActive="Active" [routerLink]="['/ReactiveForm']">Reactive Form Demo</a><br>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

  <div class="advertisement">Advertisement</div>
</div>

<div class="footer">Footer content</div>
